@import 'tailwindcss';
@plugin "daisyui" {
	themes: light --default;
}

@theme {
	/* Metrics colors */
	--color-heart-rate-chart: #d00000;
	--color-power-chart: #136f63;
	--color-speed-chart: #3f88c5;
	--color-elevation-chart: #032b43;
	--color-cadence-chart: #754f2f;

	/* Sport categories colors */
	--color-cycling: #4299e1;
	--color-cycling-background: #ebf8ff;
	--color-running: #48bb78;
	--color-running-background: #c6f6d5;
	--color-other: #ed8936;
	--color-other-background: #feebc8;
}
